.inp {
	position: relative;
	margin: auto;
	width: 100%;
	max-width: 280px;
	border-radius: 3px;
	overflow: hidden;
}
.inp .label {
	position: absolute;
	top: -5px;
	left: 20px;
	color: rgba(42, 42, 42, 0.5);
	font-size: larger;
	font-weight: 500;
	transform-origin: 0 0;
	transform: translate3d(0, 0, 0);
	transition: all 0.2s ease;
	pointer-events: none;
}

.inp input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	font-family: inherit;
	padding: 16px 12px 0 12px;
	height: 2rem;
	font-size: 18px;
	font-weight: 400;
	background: rgba(0, 0, 0, 0.02);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
	color: var(--text);
	transition: all 0.15s ease;
	border-radius: 8px;
	margin: 10px 0 20px 0;
}
.inp input:hover {
	background: rgba(0, 0, 0, 0.04);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.inp input:not(:-moz-placeholder-shown) + .label {
	color: rgba(0, 0, 0, 0.8);
	transform: translate3d(0, -2.7rem, 0) scale(0.9);
}
.inp input:not(:-ms-input-placeholder) + .label {
	color: rgba(0, 0, 0, 0.8);
	transform: translate3d(0, -2.7rem, 0) scale(0.9);
}
.inp input:not(:placeholder-shown) + .label {
	color: rgba(0, 0, 0, 0.8);
	transform: translate3d(0, -2.7rem, 0) scale(0.9);
}
.inp input:focus {
	background: transparent;
	outline: none;
	box-shadow: inset 0 -2px 0 #0077ff;
}
.inp input:focus + .label {
	color: #0077ff;
	transform: translate3d(0, -2.7rem, 0) scale(0.9);
}
.inp input:focus + .label + .focus-bg {
	transform: scaleX(1);
	transition: all 0.1s ease;
}
