.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.3s ease;
	z-index: 1000;
}

.modal-overlay.open {
	opacity: 1;
}

.modal-content {
	background-color: var(--background);
	padding: 20px;
	border-radius: 8px;
	max-width: 500px;
	width: 100%;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

body[data-theme="dark"] .modal-content .inp input + .label,
.inp textarea + .label {
	color: white;
}
