.password-container {
	display: grid;
	grid-template-columns: 77% 50px 50px;
	column-gap: 10px;
	align-items: center;
	justify-items: stretch;
}

.password-container span:hover {
	background-color: #4b4a4a60;
	cursor: pointer;
	border-radius: 10px;
	transition: all 0.1s;
}

body[data-theme="dark"] .password-container span img {
	filter: invert(1);
}
