.password-card {
	backdrop-filter: blur(25px) saturate(137%);
	-webkit-backdrop-filter: blur(25px) saturate(137%);
	background-color: #83558f3b;
	margin: 2rem;
	padding: 26px;
	width: 30%;
	border-radius: 15px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
