.w-95 {
	width: 95% !important;
}
.w-90 {
	width: 90% !important;
}
.w-80 {
	width: 80% !important;
}

.fade-in {
	animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		scale: 0;
	}
	to {
		opacity: 1;
		scale: 1;
	}
}
