.registered-passwords {
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(255, 255, 255, 0.469);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	padding: 50px;
	margin: 50px;
}

body[data-theme="dark"] .registered-passwords {
	background-color: rgba(17, 25, 40, 0.454);
}
